<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/botao.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Inicio</title>
</head>

<body>

    <div class="topnav">
        <a href="/" class="active"><i class="fa fa-fw fa-home"></i>Início</a>
        <a href="/postagens"><i class="far fa-edit"></i>Postagens</a>
        <a href="/albuns"><i class="fas fa-compact-disc"></i>Albuns</a>
        <a href="/todos"><i class="fas fa-tasks"></i>To-do</a>
    </div>

    <div class="container">
        <div class="box">
            <h1>Bem vindo!</h1>
            <div class="buttons">
                <button class="btn" id="bntPosts"><i class="active far fa-edit"></i>Postagens</button>
                <button class="btn" id="bntAlbuns"><i class="fas fa-compact-disc"></i>Álbuns</button>
                <button class="btn" id="bntTodos"><i class="fas fa-tasks"></i>To-dos</button>
            </div>

        </div>

    </div>
</body>
<script src="/scripts/main.js"></script>

</html>