<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/botao.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/postagens.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <title>Postagens</title>
</head>

<body>
  <div class="topnav">
    <a href="/"><i class="fa fa-fw fa-home"></i>Início</a>
    <a href="/postagens" class="active"><i class="active far fa-edit"></i>Postagens</a>
    <a href="/albuns"><i class="fas fa-compact-disc"></i>Albuns</a>
    <a href="/todos"><i class="fas fa-tasks"></i>To-do</a>
  </div>

  <div class="container1">
    <h1>Postagens</h1>

  </div>
  <div class="container">
    <table classs="display" style="overflow-x:auto;" id="posts">

    </table>
  </div>
</body>

<script src="/scripts/main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css" />

<script src="/scripts/postagens.js"></script>


</html>